body {
  background-color: #FEF5ED;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}

h1 {
  color: #99A799;
  font-family: "Lucida Handwriting", cursive;
}

h3 {
  color: #ADC2A9;
  font-family: "Lucida Console", monospace;
}

p {
  font-family: "Arial", sans-serif;
}

table {
  font-family: "Arial", sans-serif;
}

ul {
  font-family: "Arial", sans-serif;
}

ol {
  font-family: "Arial", sans-serif;
}

label {
  font-family: "Arial", sans-serif;
}
